/**
 * Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
  background-color: #000000;
  height: 55px;

  a {
    border: none;
    text-decoration: none;
  }

  img {
    margin: 0.3em;
  }
}
